*{
    margin: 0;padding: 0;
}
.manu-container{
    background-color: black;
    padding: 2px;
    display: flex;
    align-items: center;
justify-content: space-around;
}
.logo{
    width: 80px;
}
.manu {
    color: aliceblue;
    list-style: none ; display: flex;
    cursor: pointer;
}
.manu :hover{
    color: chartreuse;
}
.margin{
    margin-right: 13px;
}
.banner-image{
   
}
.banner-container{
    display: flex; justify-content: space-around;
    height: 100vh;align-items: center;
    background-image: url("digital-agency-b8/asset/image/background.jpg");
}
.banner-text{
    color: rgb(180, 159, 118);
}
.title{
    size: 15px; color: crimson;
}
.p1{
    margin-top: 15px;
    margin-bottom: 13px;
    color: aliceblue;
}
.btn1{
    background-color: red;
    color: rgb(177, 201, 223);
    border-radius: 5px;
    padding: 10px 20px ;
}